/* FOOTER */
.footer {
  background-color: #2f303a;

  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .logo {
    color: $title-grey-theme-color;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
    margin-right: 0;
  }

  &-address-items:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-map-link {
  @extend %footer-link;
  @include transition(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-email-link {
  @extend %footer-link;
  @include transition(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.footer-tel-link {
  @extend %footer-link;
  @include transition(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-map-link {
  color: $title-grey-theme-color;
}

.footer-email-link,
.footer-tel-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-links {
  .social-links-list-item {
    background: rgba(255, 255, 255, 0.1);
    fill: $primary-white-color;
    @include transition(background-color);

    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }
}

.join {
  display: block;
  @extend %footer-join-font;
  text-transform: uppercase;
  color: $title-grey-theme-color;
  margin-bottom: 20px;
}

.sing-up {
  &-form-title {
    display: block;
    @extend %footer-join-font;
    text-transform: uppercase;
    color: $title-grey-theme-color;
    margin-bottom: 20px;
  }
}

.sing-up-form-element {
  .modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 29px;
    padding-right: 28px;
  }

  input {
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background: transparent;
    color: rgba(255, 255, 255, 0.6);
  }

  input::placeholder {
    font-family: $main-font;
    @extend %form-placeholder;
    color: rgba(255, 255, 255, 0.6);
  }
}
.icon-send {
  margin-left: 10px;
  fill: $modal-btn-blue-theme-color;
}

@media screen and (max-width: 767px) {
  .footer {
    .container {
      display: block;
    }
  }
}

@media screen and (max-width: 1199px) {
  .footer {
    &-address {
      text-align: center;
      margin-bottom: 60px;
    }
  }

  .footer-social-links {
    text-align: center;
    margin-bottom: 60px;
  }

  .sing-up {
    text-align: center;
  }

  .sing-up-form-element {
    display: block;

    input {
      width: 450px;
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    .container {
      display: flex;
    }

    &-address {
      margin-right: 69px;
    }
  }

  .footer-social-links {
    padding-top: 12px;
    margin-right: 94px;
  }

  .sing-up {
    padding-top: 12px;
  }

  .sing-up-form-element {
    display: flex;

    input {
      width: 358px;
    }
  }
}
