/* FOOTER */
.footer {
  background-color: #2f303a;

  .container {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .logo {
    color: $title-grey-theme-color;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
    margin-right: 0;
  }

  &-address {
    margin-right: 69px;
  }

  &-address-items:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-map-link {
  @extend %footer-link;
  // font-weight: 400;
  // line-height: 1.714;
  @include transition(color);
  // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-email-link {
  @extend %footer-link;
  // font-weight: 400;
  // line-height: 1.714;
  @include transition(color);
  // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.footer-tel-link {
  @extend %footer-link;
  // font-weight: 400;
  // line-height: 1.714;
  @include transition(color);
  // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-map-link {
  color: $title-grey-theme-color;
}

.footer-email-link,
.footer-tel-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-links {
  padding-top: 12px;
  margin-right: 94px;

  .social-links-list-item {
    background: rgba(255, 255, 255, 0.1);
    fill: $primary-white-color;
    @include transition(background-color);
    // transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }
}

.join {
  display: block;
  @extend %footer-join-font;
  // font-weight: 700;
  // line-height: 1.143;
  text-transform: uppercase;
  color: $title-grey-theme-color;
  margin-bottom: 20px;
}

.sing-up {
  padding-top: 12px;

  &-form-title {
    display: block;
    @extend %footer-join-font;
    // font-weight: 700;
    // line-height: 1.143;
    text-transform: uppercase;
    color: $title-grey-theme-color;
    margin-bottom: 20px;
  }
}

.sing-up-form-element {
  display: flex;

  .modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 29px;
    padding-right: 28px;
  }

  input {
    width: 358px;
    margin-right: 12px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background: transparent;
    color: rgba(255, 255, 255, 0.6);
  }

  input::placeholder {
    font-family: $main-font;
    @extend %form-placeholder;
    // font-size: 16px;
    // font-weight: 400;
    // letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
.icon-send {
  margin-left: 10px;
  fill: $modal-btn-blue-theme-color;
}
