/*OUR PROJECTS*/
.our-projects {
  &-filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    // justify-content: center;   1200px
    // margin-bottom: 50px;
  }
}

.our-projects-filter-item {
  .filter-btn {
    padding-top: 6px;
    padding-left: 22px;
    padding-bottom: 6px;
    padding-right: 22px;
  }
}

.our-projects-list-item-link {
  @include transition(box-shadow);

  &:hover .overlay,
  &:focus .overlay {
    transform: translateY(0);
  }

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.our-projects-list-item {
  // display: block;
  // width: 100%;
  // margin-right: 30px;
  // margin-bottom: 30px;
  // background: #ffffff;

  // &:nth-child(3n) {
  //   margin-right: 0;
  // }

  // &:not(:last-child) {
  //   margin-bottom: 30px;
  // }
  // &:nth-last-child(-n + 3) {
  //   margin-bottom: 0;
  // }

  &-details {
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-right: 24px;
  }

  .subtitle {
    @extend %font-subtitle;
    margin-bottom: 4px;
  }

  .description {
    @extend %font-description;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .our-projects-filter-item {
    &:nth-child(-n + 3) {
      margin-bottom: 15px;
    }

    &:not(:nth-child(2n + 3)) {
      margin-right: 8px;
    }
  }

  .our-projects-list {
    display: block;
  }

  .our-projects-list-item {
    display: block;
    width: 100%;
    background: #ffffff;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .our-projects-filter-item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  .our-projects {
    &-filter {
      justify-content: center;
      margin-bottom: 30px;
    }
  }
  .our-projects-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-projects-list-item {
    display: block;
    width: calc((100% - 60px) / 2);

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:not(:nth-child(even)) {
      margin-right: 30px;
    }

    .subtitle {
      .subtitle-part-hide {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 93px;
    padding-bottom: 94px;
  }

  .our-projects-list-item {
    display: block;
    width: calc((100% - 60px) / 3);
    // margin-right: 30px;
    // margin-bottom: 30px;
    // background: #ffffff;

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }

    // &-details {
    //   border-right: 1px solid #eeeeee;
    //   border-bottom: 1px solid #eeeeee;
    //   border-left: 1px solid #eeeeee;
    //   padding-top: 20px;
    //   padding-left: 24px;
    //   padding-bottom: 20px;
    //   padding-right: 24px;
    // }
  }
}
