/* OUR CLIENTS */

.our-clients-list {
  display: flex;
  flex-wrap: wrap;

  &-item {
    width: 100%;
  }
}

.our-clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  // width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: $social-link-color;
  cursor: pointer;
  @include transition(border);

  .our-clients-list-link-svg {
    fill: currentColor;
    @include transition(fill);
  }

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }

  &:hover .our-clients-list-link-svg,
  &:focus .our-clients-list-link-svg {
    fill: $accent-color;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .our-clients-list {
    &-item {
      width: calc((100% - 30px) / 2);
    }

    &-item:not(:nth-child(even)) {
      margin-right: 30px;
    }

    &-item:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-clients-list {
    &-item {
      width: calc((100% - 60px) / 3);
    }

    &-item:not(:nth-child(3n)) {
      margin-right: 30px;
    }

    &-item:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .our-clients-list {
    flex-wrap: nowrap;

    &-item {
      width: calc((100% - 150px) / 6);
    }

    &-item:not(:last-child) {
      margin-right: 30px;
    }
  }
}
