.logo {
  @include logo();

  &-accent {
    color: $accent-color;
  }
}

@media screen and (min-width: 480px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 81px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 85px;
    font-size: 26px;
    padding-top: 24px;
    padding-bottom: 25px;
    line-height: 1.192;
  }
}
