.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.form {
  display: block;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;

  &-title {
    display: block;
    font-size: 20px;
    line-height: 1.15;
    font-weight: 700;
    text-align: center;
    color: $title-color;
    margin-bottom: 30px;
  }

  &-field-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 28px;
  }

  &-icon {
    position: absolute;
    top: 11px;
    left: 16px;
  }
}

.modal {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form-input {
  height: 40px;

  &-label {
    position: absolute;
    top: 12px;
    left: 42px;
    font-family: $main-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.01em;
    color: $text-color;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &,
  &-comments {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    border-radius: 3px;
    letter-spacing: 0.01em;
    cursor: pointer;
  }

  &:focus + .form-input-label,
  &:not(:placeholder-shown) + .form-input-label {
    transform: translate(-27px, -30px);
    color: $accent-color;
  }

  &:focus ~ .form-icon {
    fill: $accent-color;
  }

  &-comments {
    height: 120px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 20px;
    resize: none;
  }
}

.form-option-span {
  font-family: $main-font;
  font-weight: 400;
  // font-size: 12px;
  // line-height: 1.167;
  letter-spacing: 0.03em;
  color: $text-color;

  a {
    color: #3498db;
  }
}

.form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-custom-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid #000;
  border-radius: 2px;
  margin-right: 8px;

  .form-checkbox:not(:checked) + & .check-icon {
    opacity: 0;
  }

  .form-checkbox:checked + & {
    background-color: $accent-color;
    opacity: 1;
    fill: $primary-white-color;
    stroke: $primary-white-color;
    stroke-width: 4px;
    border: none;
  }
}

.close-modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:focus .icon-vector,
  &:hover .icon-vector {
    fill: $accent-color;
  }
}

.accept-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
  }

  .form-option-span {
    font-size: 12px;
    line-height: 1.167;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
  }

  .form-option-span {
    font-size: 14px;
    line-height: 1.714;
  }
}
