$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$title-color: #212121;
$title-grey-theme-color: #ffffff;
$modal-btn-blue-theme-color: #ffffff;
$filter-btn-white-theme-color: #212121;
$text-color: #757575;
$accent-color: #2196f3;
$social-link-color: #afb1b8;
$primary-white-color: #ffffff;
